{% extends "base_admin.html" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">{{ data.title }} {{ '/' if data.subtitle else '' }}</span> {{ data.subtitle if data.subtitle else '' }}
  </h4>

  <div class="card">
    <h5 class="card-header d-flex justify-content-end">
      <button type="button" class="btn btn-sm btn-primary d-flex align-items-center ms-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Add" onclick="window.location.href='/{{ data.view }}/add/'">
        <i class="tf-icons bx bx-plus"></i>
        <span class="d-none d-sm-block ms-1">Add</span>
      </button>  
    </h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hovered mb-0">
        <thead>
          <tr>
            <th class="text-start">Name</th>
            <th class="text-center">User Type</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Component</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% if data.results %}
            {% for result in data.results %}
              <tr>
                <td class="text-start">{{ result.lname.upper()+', '+result.fname.upper()+' '+result.mname.upper() }}</td>
                <td class="text-center">{{ result.utName }}</td>
                <td class="text-center">{{ 'Female' if result.gender==0 else 'Male' }}</td>
                <td class="text-center">{{ result.phone }}</td>
                <td class="text-center">{{ result.ncCode if result.ncCode else '' }}</td>
                <td class="text-center">
                  {{ ('<span class="badge bg-label-success">Active</span>' if result.status==1 else '') | safe }}
                  {{ ('<span class="badge bg-label-danger">Deactivated</span>' if result.status==0 else '') | safe }}
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-info d-flex align-items-center ms-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Add" onclick="window.location.href='/{{ data.view }}/view/{{ result.userID }}/'">
                      <i class="tf-icons bx bx-show"></i>
                      <span class="d-none d-sm-block ms-1">View</span>
                    </button>  
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center text-danger" colspan="8">No Record Found</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}