{% extends "base_head.html" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">{{ data.title }} {{ '/' if data.subtitle else '' }}</span> {{ data.subtitle if data.subtitle else '' }}
  </h4>

  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table table-hovered mb-0">
        <thead>
          <tr>
            <th class="text-center">School Year</th>
            <th class="text-center">Term</th>
            <th class="text-center">Code</th>
            <th class="text-center">Student Count</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
          {% if data.results %}
            {% for result in data.results %}
              <tr>
                <td class="text-center">{{ result.schoolYear }}</td>
                <td class="text-center">{{ 'First' if result.term==1 else 'Second' }}</td>
                <td class="text-center">{{ result.code }}</td>
                <td class="text-center">{{ result.studentCount }}</td>
                <td class="text-center">
                  {{ ('<span class="badge bg-label-primary">Open</span>' if result.status==0 else '') | safe }}
                  {{ ('<span class="badge bg-label-info">On Going</span>' if result.status==1 else '') | safe }}
                  {{ ('<span class="badge bg-label-success">Done</span>' if result.status==2 else '') | safe }}
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-info d-flex align-items-center ms-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="View" onclick="window.location.href='/{{ data.view }}/view/{{ result.batchID }}/'">
                      <i class="tf-icons bx bx-show"></i>
                      <span class="d-none d-sm-block ms-1">View</span>
                    </button>  
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td class="text-center text-danger" colspan="6">No Record Found</td></tr>
          {% endif %}
          
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}