<!DOCTYPE html>

<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="assets/"
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{{ data.title }} — ASSCAT NSTP Management System</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/flag-icons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/rtl/core.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/rtl/theme-default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/typeahead-js/typeahead.css') }}" />
    <!-- Vendor -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/formvalidation/dist/css/formValidation.min.css') }}" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/pages/page-auth.css') }}" />
    <!-- Helpers -->
    <script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>

  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="javascript:void(0)" class="app-brand-link d-flex align-items-center">
                  <img src="{{ url_for('static', filename='img/logo.png') }}" class="app-brand-logo demo" alt="Logo" style="width: 50px; height: 50px;">
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Welcome to ASSCAT NSTP App!</h4>

              <form id="formSubmit" class="mb-3" action="/dashboard/">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                </div>
              </form>

              <p class="text-center">
                <span>New student?</span>
                <a href="/register/">
                  <span>Create an account</span>
                </a>
              </p>

            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/hammer/hammer.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/i18n/i18n.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/typeahead-js/typeahead.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/formvalidation/dist/js/FormValidation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

      $(document).on('submit', '#formSubmit', function(e) {
        e.preventDefault()

        var formData = new FormData(this) 
        $.ajax({
          url         : '/{{ data.view }}/authenticate/', 
          type        : 'POST',
          data        : formData,
          contentType : false, 
          processData : false, 
          beforeSend: function() {
            $('#formSubmit button[type="submit"]').prop('disabled', true)
          }
        })
        .done(function(res) {
          if (res.response.status == 200) {
            window.location.href=`/${res.module}/`
          } else {
            $.notify(res.response.message, "error")
          }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          console.error('Error:', errorThrown) 
        })
        .always(function() {
          $('#formSubmit button[type="submit"]').prop('disabled', false)
        })
      })

    </script>

  </body>
</html>
