{% extends "base_admin.html" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">{{ data.title }} {{ '/' if data.subtitle else '' }}</span> {{ data.subtitle if data.subtitle else '' }}
  </h4>

<div>

  <div class="card mb-3">
    <h5 class="card-header d-flex justify-content-end">
      <button type="button" class="btn btn-sm btn-secondary d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Back to List" onclick="window.location.href='/{{ data.view }}/'">
        <i class="tf-icons bx bx-arrow-back"></i>
        <span class="d-none d-sm-block ms-1">Back to List</span>
      </button>
    </h5>
    <div class="card-body">

      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.username }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.lname+', '+data.row.fname+' '+data.row.mname+' '+data.row.ename }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Student Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.studentNo }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Course & Year</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.cCode }} - {{ data.row.yearLevel }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Component</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.ncCode }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ 'Male' if data.row.gender==1 else 'Female' }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.birthDate }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Birthd Place</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.birthPlace }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.phone }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.email }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Religion</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.religion }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Citizenship</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.citizenship }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Home Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.addressHomeStreet+', '+data.row.addressHomeMunicipality+', '+data.row.addressHomeProvince }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Home Address Contact</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.addressHomePhone }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      {% if data.row.nstpComponentID==3 %}
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Temporary Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.addressTemporaryStreet+', '+data.row.addressTemporaryMunicipality+', '+data.row.addressTemporaryProvince }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Temporary Address Contact</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.addressTemporaryPhone }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Father</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.fatherName }} - {{ data.row.fatherOccupation }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Mother</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.motherName }} - {{ data.row.motherOccupation }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
      {% endif %}
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Emergency Contact</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.emergencyContactName }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Emergency Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.emergencyContactPhone }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Emergency Relationship</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.emergencyContactRelationship }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Emergency Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ data.row.emergencyContactAddress }}" style="background: #e3e3e3;" readonly>
        </div>
      </div>
      {% if data.row.nstpComponentID==3 %}
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Height</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.height }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Weight</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.weigh }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Complexion</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.complexion }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Blood Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ data.row.btName }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Take Advance Course?</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ 'Yes' if data.row.takeAdvanceCourse==1 else 'No' }}" style="background: #e3e3e3;" readonly>
          </div>
        </div>
      {% endif %}
      
    </div>
  </div>

  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table table-hovered mb-0">
        <thead>
          <tr>
            <th class="text-center">Term</th>
            <th class="text-center">School Year</th>
            <th class="text-center">Attendance</th>
            <th class="text-center">Exam</th>
            <th class="text-center">Performance</th>
            <th class="text-center">Grade</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

          {% if data.terms %}
            {% for term in data.terms %}
              <tr>
                <td class="text-center">{{ 'First' if term.term==1 else 'Second' }}</td>
                <td class="text-center">{{ term.schoolYear }}</td>
                <td class="text-center">{{ term.attendance }}</td>
                <td class="text-center">{{ term.exam }}</td>
                <td class="text-center">{{ term.performance }}</td>
                <td class="text-center">{{ term.total }}</td>
                <td class="text-center">
                  {{ '<span class="badge bg-label-danger">Failed</span>' | safe if term.status==-1 else '' }}
                  {{ '<span class="badge bg-label-info">On Going</span>' | safe if term.status==0 else '' }}
                  {{ '<span class="badge bg-label-success">Passed</span>' | safe if term.status==1 else '' }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center text-danger" colspan="7">No Record Found</td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script>

    function del()
    {

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            title: "Deleted!",
            text: "Your file has been deleted.",
            icon: "success"
          })
        }
      })

    }

  </script>
{% endblock %}